/*Menu*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

section{
    padding: 20px;
}

header div{
    padding-left: 20px;
    padding-right: 20px;
}

.encabezado{
    width: 100%;
    background-color: rgb(158, 245, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu li {
    font-size: 20px;
    padding: 10px 20px;
    display: inline;
}
.menu li:hover{
    background-color: #44E5BB;
}

#menuDes{
    background-color: #44E5BB;
    text-align: center;
    padding: 20px;
}

#textoMenu{
    background-color: peru;
}

#home {
    background-color: peru;
}

#nosotros {
    background-color: peru;
}

#contacto {
    background-color: peru;
}


/*Home*/

.banner {
    text-align: center;
}

.imagenes {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.producto {
    width: 220px;
    height: auto;
    border: 3px block;
    margin-left: auto;
    margin-right: auto;
}

.producto:hover {
    border: 10px solid red;
}

#bannerImg {
    width: 720px;
    height: auto;
}

#img1 {
    width: 220px;
}

#img2 {
    width: 220px;
}

#img3 {
    width: 220px;
}


/**Contacto**/

.formContacto {
    text-align: center;
    background-color: bisque;
    border: 5px solid;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.formulario {
    width: 500px;
    height: 30px;
}

#area {
    padding-bottom: 30px;
}


/*Nosotros*/

.info {
    width: 720px;
    height: auto;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px;
    border: 4px solid black;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    width: 720px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid;
    background-color: bisque;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
}

footer ul {
    list-style: none;
    text-align: right;
    padding-right: 10%;
}

footer li {
    display: inline;
}

#foot {
    padding-left: 30px;
}


/*body*/

body {
    background-color: aliceblue;
}