a {
    text-decoration: none;
}

.menu {
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.menu ul {
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.menu li {
    border: 2px solid;
    font-size: 20px;
    margin: 2px;
    padding: 5px;
    background-color: #44E5BB;
    display: inline;
}

.banner {
    text-align: center;
}

.imagenes {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.producto {
    width: 220px;
    height: auto;
    border: 3px block;
    margin-left: auto;
    margin-right: auto;
}

.producto:hover {
    border: 10px solid red;
}

.formContacto {
    text-align: center;
}

.formulario {
    width: 120px;
    height: auto;
}

#home {
    background-color: peru;
}

#nosotros {
    background-color: peru;
}

#contacto {
    background-color: peru;
}

#bannerImg {
    width: 720px;
    height: auto;
}

#img1 {
    width: 220px;
}

#img2 {
    width: 220px;
}

#img3 {
    width: 220px;
}